.container {
    background-color: rgb(241, 232, 215);
    padding: 5px 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    width: 50%;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    text-align: left;
    padding: 15px;
}

th {
    font-family: arial, sans-serif;
    font-size: 23px;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: rgb(92, 91, 91);
}
h2 {
    font-size: 26px;
    line-height: 1px;
}

p {
    font-size: 20px;
    margin-top: 2px;
    color: rgb(92, 91, 91);
}

#link {
    font-size: 21px;
    background-color: rgb(198, 255, 124);
    width: 120px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 21px;
}

a {
    text-decoration: none;
    color: black;
}
